<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.UIT.QTV.ScanMaster">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE"
        android:maxSdkVersion="28"/>


    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Background"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="com.UIT.QTV.ScanMaster.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.UIT.QTV.ScanMaster.Credit.CreditMoney" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/AppTheme" /> <!-- optional (needed if default theme has no action bar) -->
        <activity android:name="com.UIT.QTV.ScanMaster.Support.Support" />
        <activity android:name="com.UIT.QTV.ScanMaster.History.History" />
        <activity android:name="com.UIT.QTV.ScanMaster.CalendarCard.CalendarCard"/>
        <activity android:name="com.UIT.QTV.ScanMaster.History.InterfaceRow"></activity>
    </application>

</manifest>